@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.B2PCentral.Views
@using BTCPayServer.Client
@using BTCPayServer.Plugins.B2PCentral.Models

@inject BTCPayServer.Plugins.B2PCentral.Services.B2PCentralPluginService B2PCentralPluginService

@model BTCPayServer.Plugins.B2PCentral.Data.B2PSettings
@{
    ViewData.SetActivePage(PluginNavPages.Index, "B2P Central plugin");
}

<script type="text/javascript">
    function GetPartial(reqData, container) {
        $.ajax({
            url: '@Url.Action("GetPartialB2PResult", "UIPlugin")',
            type: 'POST',
            data: reqData,
            success: function(result) {
                $(container).html(result);
            },
        });
    });
</script>

<table><tr>
        <td>
            <a href="https://www.b2p-central.com" target="b2p">
                <img src="/Resources/img/B2Plogo.jpg" />
            </a>
        </td>
        <td width="20" />
        <td>
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                Get P2P bitcoin buy offers from <a href="https://www.b2p-central.com" target="b2p">B2P Central</a>, according to your onchain and lightning wallets balances and the store's default currency.
             </p>
        </td>
</tr></table>
<br />

<partial name="_StatusMessage" />

<div permission="@Policies.CanModifyStoreSettings">
    <br />
    <h4>Configuration</h4>
    <p>
       First, you need to get a B2P Central API key <a href="https://getapi.b2p-central.com" target="b2pApi">here</a>.
    </p>
    <form method="post" autocomplete="off">
        <input asp-for="ProvidersString" type="hidden"/>
        <table class="table table-sm mt-0 mx-0">
            <tr>
                <td width="100">
                    <label asp-for="ApiKey" class="form-label"></label>
                </td>
                <td width="400" d class="border-0 ps-0 align-middle">
                    <input asp-for="ApiKey" data-fill="port" class="form-control" />
                    <span asp-validation-for="ApiKey" class="text-danger"></span>
                </td>
                <td width="20" />
                <td>
                    <button id="SaveButton" type="submit" class="btn btn-primary" value="Save" name="Command">Save</button>
                </td>
                @if (!string.IsNullOrEmpty(Model.ApiKey))
                {
                    <td>
                        <button class="btn btn-secondary mt-2" value="Test" name="Command">Test</button>
                    </td>
                }
            </tr>
        </table>
    </form>
</div>

<div permission="@Policies.CanViewStoreSettings">
    <br />
    @if (string.IsNullOrEmpty(Model.ApiKey))
    {
        <p>
            <i>B2P settings not set for this store...</i>
        </p>
    } else
    {
        var walletConfig = await B2PCentralPluginService.GetBalances(Model.StoreId, Context.Request.PathBase);
        <h4>On Chain</h4>
        @if (walletConfig.OnChainEnabled)
        {
            <p><b>Balance</b>: @walletConfig.OnChainBalance BTC  - @walletConfig.OnChainFiatBalance @walletConfig.FiatCurrency</p>
        }
        else
        {
            <p>On Chain wallet not configured</p>
        }

        @if (walletConfig.OnChainBalance == 0) {
            <p>No bitcoins available for sale</p>
        } else {
            <b>Select providers:</b><br/>
            <table><tr>
            <td>
                HodlHodl &nbsp;
                <input id="chkHodl" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.HodlHodl)" />
            </td><td width="15" />
            <td>
                Paxful &nbsp;
                <input id="chkPxf" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.Paxful)" />
            </td><td width="15" />
            <td>
                LocalCoinSwap &nbsp;
                <input id="chkLocalSw" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.LocalCoinSwap)" />
            </td><td width="15" />
            <td>
                Peach &nbsp;
                <input id = "chkPeach" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.Peach)" />
            </td>
            </tr></table>
            <br />
            <table>
                <td>
                    Percent to sale:&nbsp;
                        <input id="percentOnChain" type="number" max="100" value="100" onchange="document.getElementById('lblOnChainSale').textContent =parseInt((percentOnChain.value*@walletConfig.OnChainFiatBalance)/100)" />
                </td><td width="25" />                        
                <td>
                    <label id="lblOnChainSale">@walletConfig.OnChainBalance</label>&nbsp; @walletConfig.FiatCurrency
                </td><td width="25" /> 
                <td><button id="btOnChainSearch" class="btn btn-primary">Search</button></td>
            </table><br />
            <div id="container-B2pOnChain"></div>
        }

        @if (walletConfig.OnChainBalance > 0)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#btOnChainSearch").click(function () {
                        var tbl = [];
                        if (document.querySelector('#chkHodl').checked) tbl.push(@ProvidersEnum.HodlHodl);
                        if (document.querySelector('#chkPxf').checked) tbl.push(@ProvidersEnum.Paxful);
                        if (document.querySelector('#chkLocalSw').checked) tbl.push(@ProvidersEnum.LocalCoinSwap);
                        if (document.querySelector('#chkPeach').checked) tbl.push(@ProvidersEnum.Peach);
                        if (tbl.length == 0) return;

                        const data = {
                            Rate: @walletConfig.Rate, ApiKey: '@Model.ApiKey', CurrencyCode: '@walletConfig.FiatCurrency',
                            Amount: @walletConfig.OnChainBalance, Providers: tbl
                        };
                        GetPartial(data, "container-B2pOnChain");
                    });
                });
            </script>
        }
        <br />

        <h4>Lightning</h4>
        @if (walletConfig.OffChainEnabled)
        {
            <p><b>Balance</b>: @walletConfig.OffChainBalance BTC  - @walletConfig.OffChainFiatBalance @walletConfig.FiatCurrency</p>
        }
        else
        {
            <p>Lightning not configured</p>
        }

        @if (walletConfig.OffChainBalance == 0)
        {
            <p>No bitcoins available for sale</p>
        }
        else
        {
            <b>Select providers:</b><br />
            <table>
                <tr>
                    <td>
                        LNp2pBot &nbsp;
                        <input id="chkLNp2p" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.LNp2pBot)" />
                    </td>
                    <td width="15" />
                    <td>
                        RoboSats &nbsp;
                        <input id="chkRbs" type="checkbox" checked="@Model.Providers.Contains(ProvidersEnum.RoboSats)" />
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td>
                        Percent to sale:&nbsp;
                        <input id="percentLightning" type="number" max="100" value="100" onchange="document.getElementById('lblLightningToSale').textContent=parseInt((percentLightning.value*@walletConfig.OffChainFiatBalance)/100)" />
                    </td>
                    <td width="25" />
                    <td>
                        <label id="lblLightningToSale">@walletConfig.OffChainBalance</label>&nbsp;@walletConfig.FiatCurrency
                    </td>
                    <td width="25" />
                    <td><button id="btLightningSearch" class="btn btn-primary">Search</button></td>
                </tr>
            </table>

            <br />
            <div id="container-B2pLightning"></div>
        }


        @if (walletConfig.OffChainBalance > 0)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#btLightningSearch").click(function () {
                        var tbl = [];
                        if (document.querySelector('#chkLNp2p').checked) tbl.push(@ProvidersEnum.LNp2pBot);
                        if (document.querySelector('#chkRbs').checked) tbl.push(@ProvidersEnum.RoboSats);
                        if (tbl.length == 0) return;

                        const data = {
                            Rate: @walletConfig.Rate, ApiKey: '@Model.ApiKey', CurrencyCode: '@walletConfig.FiatCurrency',
                            Amount: @walletConfig.OffChainBalance, Providers: tbl
                        };
                        GetPartial(data, "container-B2pLightning");
                    });
                });
            </script>
        }

    }

</div>